Drogi#{@order.name}
Dziękujemy za zamówienie w Charity Store. Twoje zamówienie składa się z następujących produktów:
#{render @order.items}
Wpłaconymi przez Ciebie pieniędzmi będzie się cieszyć
#{@order.foundation}
Wyślemy Ci oddzielnego maila gdy zamówienie zostanie wysłane.
